{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}


<style>
   table {
    width: 20%; /* Ширина таблицы */
    border: 4px double black; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */
   }
   th {
    text-align: left; /* Выравнивание по левому краю */
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
   td {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
  </style>
<h1>{{goal.name}}</h1>

{% for section in goal.sections.all %}
<table>
<tr><td>{{section}}</td></tr>
    {% for theme in section.themes.all %}
    <tr>
        <td>
            <form class="container" action="{% url 'lesson:sure' theme.id %}">
                <button>{{theme}}</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>
            <form class="container" action="{% url 'lesson:add_theme' section.id%}">
                <button><a>add_theme</a></button>
            </form>
        </td>
    </tr>
</table>
{% endfor %}

<form class="container" action="{% url 'lesson:add_section' %}">
    <button>Add section</button>
</form>

<form class="container" action="{% url 'account:profile_basic' %}">
    <button>CHECK MY PROFILE</button>
</form>

<form class="container" action="{% url 'memo:my_goals' %}">
    <button>CHECK MY GOALS</button>
</form>

{% endblock %}