{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

{% if profile %}
<style>
   table {
    width: 20%; /* Ширина таблицы */
    border: 4px double black; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */
   }
   th {
    text-align: left; /* Выравнивание по левому краю */
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
   td {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
  </style>
<h1>Profile</h1>
    <table class="profile" >

        <tr><td ><img src="{{ post.profile.image.url }}" alt="img"></td></tr>
        <tr><td ><a>{{profile.user.username}}</a></td></tr>
        <tr> <td ><a>{{profile.user.email}}</a></td></tr>
        {% if request.user.is_authenticated %}

            {% if username == request.user.username %}
        <tr><td ><a>{{profile.user.first_name}}</a></td></tr>
        <tr><td ><a>{{profile.user.last_name}}</a></td></tr>
        <tr><td ><a>{{profile.user.date_joined}}</a></td></tr>
        <tr><td>
            <form class="container" action="{% url 'account:profile_edit' %}">
                <button>Edit</button>
            </form>
        </td></tr>

            {% endif %}
        {% endif %}
    </table>
<form class="container" action="{% url 'repeat:repeat_mix' %}">
    <button>Repeat all questions for today</button>
</form>

<h1>My Goals</h1>
    {% if goals %}

<table class="goals" >
    {% for goal in goals %}
    <tr>

        <td>
            <form class="container" action="{% url 'memo:goal_page' goal.id %}">
                <button>{{goal}}</button>
            </form>
        </td>

        <td>
        <form class="container" action="#">
            <button>edit</button>
        </form>
        </td>

        <td>
            <form class="container" action="#">
                <button>delete</button>
            </form>
        </td>

    </tr>

    {% endfor %}


    {% endif %}
    <tr><td>
            <form class="container" action="{% url 'account:add_goal' %}">
                <button>Add Goal</button>
            </form>
    </td></tr>
    </table>


{% endif %}

{% endblock %}