{% extends "base.html" %}
{% block content %}




<h1>{{question.question}}</h1>
<h1>{{question.answer}}</h1>


<form class="container" method="POST">
    <input type="submit" name="answer" value="Don't remember clear`">
    <input type="submit" name="answer" value="Remember perfectly">
<!--    <input type="submit" name="answer" value="1">-->
<!--    <input type="submit" name="answer" value="2">-->
<!--    <input type="submit" name="answer" value="3">-->
<!--    <input type="submit" name="answer" value="4">-->
<!--    <input type="submit" name="answer" value="5">-->
    {% csrf_token %}
</form>


{% endblock %}