{% block title %}{% endblock %}

{% block content %}


<style>
   table {
    width: 20%; /* Ширина таблицы */
    border: 4px double black; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */
   }
   th {
    text-align: left; /* Выравнивание по левому краю */
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
   td {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
  </style>

<h1>My Lessons</h1>

<form class="container" action="{% url 'account:profile_basic' %}">
    <button>CHECK MY PROFILE</button>
</form>

    {% if lessons %}

<table class="lessons" >
    <tr><td>Sort by</td></tr>
    {% for lesson in lessons %}
    <tr><td>
            <form class="container" action="#">
                <button>{{lesson.goal}} Lesson {{lesson.name}}</button>
            </form>
        </td></tr>

    {% endfor %}


    {% endif %}
    <tr><td>
            <form class="container" action="{% url 'memo:my_goals' %}">
                <button>NEW LESSON</button>
            </form>
        </td></tr>
</table>

{% endblock %}