asgiref
celery==5.2.6
Django
django-debug-toolbar
django-dotenv==1.4.2
django-fixture-magic
django-heroku
django-templated-mail==1.1.1
djangorestframework
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
Faker
factory-boy
flake8
gunicorn==20.1.0
Jinja2==3.0.3
Pillow
psycopg2
pytest==7.1.2
redis==4.2.2
redis-server==6.0.9
simplejwt==2.0.1
whitenoise

